<%= form_with model: kitten do |form|%>
    <div>
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>

    <div>
        <%= form.label :age %>
        <%= form.number_field :age %>
    </div>

    <div>
        <%= form.label :cuteness %>
        <%= form.select :cuteness, (0..10)%>
    </div>

    <div>
        <%= form.label :softness %>
        <%= form.select :softness, (0..10)%>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>